@use '$shared/styles/variables.scss' as variables;

.outlined {
  border-radius: 10px;
  border: 1px solid var(--hr-border-gray);
  padding: 18px 25px;

  @media screen and not (min-width: variables.$breakpoint-tablet) {
    padding: 15px;
  }
}

.file {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .mobileTop {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .fileTop {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .buttons {
      display: flex;
      align-items: center;
      margin-left: auto;

      .previewSlide {
        flex-shrink: 0;
        transition: transform 300ms ease-in-out;
        transform: rotate(90deg);

        &.open {
          transform: rotate(-90deg);
        }
      }

      .removeButton {
        flex-shrink: 0;
      }
    }
  }

  .openPreview {
    text-align: center;
    font-size: 9px;
    color: variables.$text-gray;
  }

  .preview {
    width: 100%;
    // clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 0%);

    .smallPreview {
      max-height: 100px;
    }
  }
}
