[Unit]
Description=lufin backend
After=network.target

[Service]
Type=simple
# By default Bun will be installed to /home/yourname/.bun/bin/bun
# But you really should install it globally under root user
# by moving /root/.bun/bin/bun to /usr/local/bin/
# Make sure /usr/local/bin/bun has 755 permissions and root:root ownership
ExecStart=/usr/local/bin/bun start
Restart=on-failure
User=lufin
Group=lufin
# Change the port if needed
Environment=PORT=3000
# Change to the directory of repository/backend
WorkingDirectory=/var/www/lufin/backend

[Install]
WantedBy=multi-user.target