@use '../variables.scss' as variables;

.card {
  // position: absolute;
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    gap: 10px;
  }

  &.focusable {
    cursor: pointer;
  }

  .icon {
    color: variables.$accent;
    background-color: var(--horizontal-card-icon-bg, #2A4259);
    border-radius: 999px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    svg {
      width: 24px;
      height: 24px;
    }

    @media screen and (max-width: variables.$breakpoint-tablet) {
      width: 30px;
      height: 30px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;

    .title {
      font-size: 20px;
      font-weight: 500;
      word-break: break-word;

      max-height: 28px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      @media screen and (max-width: variables.$breakpoint-tablet) {
        font-size: 16px;
      }
    }

    .subtitle {
      color: variables.$text-gray;
      font-size: 13px;
    }
  }
}