@use '$shared/styles/variables.scss' as variables;
@use 'sass:math';

:root {
  --max-width: 1170px;
  --padding: #{math.div(1200-1170, 2)}px;

  --default-fonts:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto Variable', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --fonts: 'Golos Text Variable', 'Golos Text', var(--default-fonts);

  --default-mono-fonts:
    'Noto Sans Mono Variable', 'Noto Sans Mono', 'Roboto Mono Variable', 'Roboto Mono', monospace;

  font-family: var(--fonts);
  text-rendering: geometricPrecision;
  color-scheme: dark;

  @media screen and not (min-width: variables.$breakpoint-tablet) {
    --padding: 18px;
  }
}

html,
body {
  max-width: 100vw;
  background-color: variables.$bg-main;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

@media screen and not (min-width: variables.$breakpoint-tablet) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
}

[class~='MuiImageListItem-root'] {
  position: relative;
}

html[class*='scroll-lock'] {
  overflow: hidden !important;
}

.MuiLinearProgress-bar {
  transition: none;
}

.MuiTooltip-tooltip {
  white-space: pre-wrap;
  text-align: center;
}

:root {
  --accent-color: #248bda;

  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;

  --link: #98a3b0;
  --link-active: #fff;
  --link-hover: #b0b9c2;

  --search-input: #2a333d;
  --search-input-border: transparent;

  --theme-toggler: #4b5d72;

  --green: #41e77a;

  --bg-main: #1a2026;
  --bg-default: #212a33;
  --bg-nav: #212932;
  --bg-darken: #1a2026;
  --bg-light: #293440;
  --bg-lighter: #36414d;

  --default-text-color: #fff;
  --text-gray: #98a3b0;
  --text-dimmed: #4b5d72;
  --text-gray-dim: #98a3b0;
  --comments-label-text: #4b5d72;
  --comments-label-gray2: #ffffff;
  --comments-input-color: #212932;
  --reply-card-bg: #212932;

  --tag-bg: #212932;
  --tag-text: #98a3b0;
  --button-bg: #21364a;
  --dimmed-button-bg: #21364a;
  --dimmed-button-bg-hover: #2c445c;
  --dimmed-button-bg-active: #1e3f5d;
  --dimmed-button-bg-disabled: #32383d;
  --button-badge-bg: rgb(33, 54, 74);

  --share-bg: #212932;
  --share-bg-dimed: #212932;
  --share-bg-alt: #2a343f;
  --link-color: #fff;

  --footer-bg: #111417;

  --card-bg: #212932;
  --card-bg-alt: #21364a;
  --card-dimmed-bg: #2a333d;
  --card-icon-bg: #21364a;
  --card-subtext: #ffffff;

  --hr-border: #1a2026;
  --hr-border-gray: #3e4a56;

  --icon-dimmed: #fff;
  --input-border: #4b5d72;
  --modal-bg: #29333e;

  --share-menu-bg: #212932;
  --share-menu-border: transparent;
  --share-menu-gap: 2px;

  --infocard-after-text: #12171d;

  --file-sharing-border: #374351;
  --horizontal-card-icon-bg: #2a4259;
  --file-sharing-file-card-bg: #212932;
  --file-sharing-editable-input-bg: #303235;
  --file-sharing-editable-input-bg-disabled: #616161;
  --file-sharing-file-preview-bg: #1f1f1f;
  --outlined-textfield-bg: #2d3845;
}

.no-tap-highlight,
.roulette-no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

[class~='MuiDialog-container'] {
  z-index: 100;
}

html,
body,
#root,
#container {
  min-height: 100vh;
}
@supports (min-height: 100dvh) {
  html,
  body,
  #root,
  #container {
    min-height: 100dvh;
  }
}

main {
  flex: 1;
}
