@use '$shared/styles/variables.scss' as variables;

.row {
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobileRow {
  padding: 24px 15px;
  border-top: 2px solid #2c3d4d;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &.showBottomSeparator:last-child {
    border-bottom: 2px solid #2c3d4d;
  }

  .filename {
    font-size: 18px;
    word-break: break-word;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: variables.$text-gray;
      font-size: 14px;
    }
  }
}

.row,
.mobileRow {
  &.unavailable:not(:first-child) td {
    background: #1b232c;
    color: #728397;
  }
}

.aLink {
  display: flex;
  width: fit-content;

  &.disabled {
    pointer-events: none;
  }
}
