@use '../variables.scss' as variables;
@use 'sass:color';

.textField {
  border-radius: 7px;
  display: flex;
  align-items: center;
  $defaultTransition: background-color 50ms ease-in-out;
  transition: $defaultTransition;
  
  &.default {
    $defaultBgColor: #212932;
    background-color: $defaultBgColor;
    
    &.disabled {
      background-color: color.scale($defaultBgColor, $lightness: 10%);
    }
  }

  .input {
    display: flex;
    align-items: center;
    flex: 1;
    align-self: stretch;

    input {
      padding-left: 30px;
      background-color: transparent;
      border: 0;
      height: 100%;
      color: rgba(152, 163, 176, 1);
      font-family: inherit;
      font-size: 16px;
      flex: 1;
      width: 100%;

      &::placeholder {
        color: #69727D;
      }

      @media screen and (max-width: variables.$breakpoint-tablet) {
        padding-left: 20px;
      }
    }

    .clearButton {
      background: none;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      align-self: stretch;
      opacity: 1;
      pointer-events: unset;
      transition: opacity 120ms ease-in-out, width 0s;
      width: 25px;
    }

    input[value=''] + .clearButton {
      opacity: 0;
      pointer-events: none;
      width: 0;
      transition-delay: 0s, 120ms;
    }
  }

  &.outlined {
    $defaultBgColor: #2d3845;
    background-color: var(--outlined-textfield-bg, #2d3845);
    position: relative;
    border: 2px solid var(--outlined-textfield-border, transparent);
    transition: #{$defaultTransition}, border-color 100ms ease-in-out;

    &.disabled {
      background-color: var(--outlined-textfield-disabled-bg, color.scale($defaultBgColor, $lightness: 5%, $saturation: -100%));
    }
    
    input {
      outline: none;
      color: var(--outlined-textfield-text, #fff);
      padding: 22px 24px;

      @media screen and (max-width: variables.$breakpoint-tablet) {
        padding: 15px;
      }
    }

    &.withLabel input {
      padding: #{22px + 10px} 24px #{22px - 10px} 24px;

      @media screen and (max-width: variables.$breakpoint-tablet) {
        padding: #{15px + 10px} 15px #{15px - 10px} 15px;
      }
    }

    .leftAdornment {
      margin-left: 24px; 
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: variables.$breakpoint-tablet) {
        margin-left: 14px;
      }
    }

    .label {
      color: variables.$text-gray;
      font-family: 'Golos Text', sans-serif;
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.75px;
      position: absolute;
      pointer-events: none;
      margin-left: 24px;
      margin-top: -18px;

      @media screen and (max-width: variables.$breakpoint-tablet) {
        margin-left: 16px;
      }
    }

    .input .clearButton {
      padding: 24px;
      width: auto;
    }

    &.focused:not(.disabled) {
      border: 2px solid #248BDA;
    }
  }
}